# General
.DS_Store
.env
.vscode/


# Node modules
backend/node_modules
frontend/node_modules

# Build and cache
frontend/build/
frontend/.cache/
backend/.cache/
*.cache

# Images or uploads
backend/images/